/* ACRE - ac */

.flag-ac
    padding 40px 0
    margin-bottom 10px

.flag-ac h1
    text-align center

.flag-ac > .flag
    margin 0 auto
    background rgba(1, 159, 111,1)
    background-image: linear-gradient(-213.5deg, rgba(254, 230, 60,1) 50%, transparent 50%)

.flag-ac .flag:before
    content '\2605'
    color rgba(192, 57, 43,1)
    font-size 70px
    margin-top 0
    margin-left 10px
