/*!  ACRE - AC  */

// Colors
$verde = #019f6f
$amarelo = #fee63c
$vermelho = #c0392b

.flag-ac
  background-image linear-gradient(
    -213.5deg,
    $amarelo 50%,
    $verde 50%
  )

  &:before
    content '\2605'
    color $vermelho
    font-size $size = 50px
    line-height: $size
    margin 15px 0 0 15px
