/*!  BAHIA - BA  */

// Colors
$branco = rgba(255, 255, 255, 1)
$vermelho = rgba(231, 76, 60,1)
$azul = rgba(41, 128, 185,1)

.flag-ba
  background-image repeating-linear-gradient(
    to bottom,
    $branco,
    $branco 25%,
    $vermelho 25%,
    $vermelho 50%
  )

  &:before
    background $azul
    width 100px
    height 100px

  &:after
    font-size 2.7rem
    margin 18px 0 0 12px
    border-bottom: 65px solid $branco
    border-left: 40px solid transparent
    border-right: 40px solid transparent
