/*!  BRASIL - BR  */

.flag-br
  background: #fee63c
  background-image: linear-gradient(30deg, #019f6f 30%, transparent 30%),
  linear-gradient(-30deg, #019f6f 30%, transparent 30%),
  linear-gradient(210deg, #019f6f 30%, transparent 30%),
  linear-gradient(-210deg, #019f6f 30%, transparent 30%)

  &:before
    width 100px
    height 100px
    margin 50px 0 0 100px
    background #2765ae radial-gradient(
      circle at 0 175px,
      transparent 71%, white 72%,
      #fff 78%,
      transparent 79%
    )
    border-radius 50%
