/*!  MARANHAO - MA  */

// Colors
$vermelho = rgba(231, 76, 60,1)
$branco =  rgba(255,255,255,1)
$preto = rgba(0, 0, 0,1)
$azul = rgba(41, 128, 185,1)
$size = 89px

.flag-ma
  background-image repeating-linear-gradient(
    to bottom,
    $vermelho,
    $vermelho 11.1%,
    $branco 11.1%,
    $branco 22.2%,
    $preto 22.2%,
    $preto 33.3%,
    $branco 33.3%,
    $branco 44.4%
  )

  &:before
    margin 0
    width $size
    height $size
    background $azul

  &:after
    content '\2605'
    color $branco
    font-size 70px
    width $size
    height $size
    display: flex
    align-items center
    justify-content center
