/* MARANHAO - ma */

.flag-ma
    padding 40px 0
    margin-bottom 10px

.flag-ma h1
    text-align center

.flag-ma > .flag
    margin 0 auto
    // background rgba(255,255,255,.4)
    background-image repeating-linear-gradient(rgba(192, 57, 43,1), rgba(255,255,255,1), rgba(0, 0, 0,1))

.flag-ma .flag:before
    content '\2605'
    color rgba(255, 255, 255,1)
    font-size 53px
    padding 0 10px
    margin-top 0
    margin-left 0
    width 60px
    height 80px
    text-align center
    background rgba(41, 128, 185,1)
