/* MARANHAO - ma */
/*COLORS*/
$vermelho = rgba(231, 76, 60,1)
$branco =  rgba(255,255,255,1)
$preto = rgba(0, 0, 0,1)
$azul = rgba(41, 128, 185,1)

.flag-ma
    padding 40px 0
    margin-bottom 10px

.flag-ma h1
    text-align center

.flag-ma > .flag
    margin 0 auto
    background $branco
    background-image linear-gradient(to bottom, $vermelho, $vermelho 11%, transparent 11%, transparent 22%, $preto 22%, $preto 33%, transparent 33%, transparent 44%, $vermelho 44%, $vermelho 55%, transparent 55%, transparent 66%, $preto 66%, $preto 77%, transparent 77%, transparent 88%, $vermelho 88%, $vermelho 99%)

.flag-ma .flag:before
    padding 0 10px
    margin-top 0px
    margin-left 0
    width 100px
    height 100px
    display flex
    background $azul

.flag-ma .flag:after
    content '\2605'
    color $branco
    font-size 90px
    margin -20px 0 0 20px
