/*!  MATO GROSSO DO SUL - MS  */

// Colors
$branco = rgba(255,255,255,1)
$verde = rgba(1,159,111,1)
$azul = rgba(41, 128, 185,1)
$amarelo = rgba(254,230,60,1)

.flag-ms
  background $branco
  background-image: linear-gradient(-224.5deg, $verde 31%, transparent 30%),
  linear-gradient(-44deg, $azul 58%, transparent 30%)
  position: relative

  &:before
    position: absolute
    content '\2605'
    color $amarelo
    font-size $size = 60px
    line-height $size
    bottom: 25px
    right: 25px
