/*!  MINAS GERAIS - MG  */

// cores
$branco = white
$vermelho = red

.flag-mg
  background $branco
  display flex
  align-items center
  justify-content center

  &:before
    border-left: 60px solid transparent
    border-right: 60px solid transparent
    border-bottom: 90px solid $vermelho

