/*!  PARAÍBA - PB  */

// Colors
$branco = rgba(255, 255, 255, 1)
$vermelho = rgba(231, 76, 60, 1)
$preto = rgba(0, 0, 0, 1)

.flag-pb
  background-image linear-gradient(
    to right,
    $preto,
    $preto 30%,
    $vermelho 30%
  )

  &:before
    content 'NEGO'
    color $branco
    font-size 30px
    display flex
    height 100%
    align-items center
    justify-content center
    width 210px
    margin-left 90px
