/*!  PARÁ - PA  */

// Colors
$branco = rgba(255, 255, 255, 1)
$vermelho = rgba(231, 76, 60,1)
$azul = rgba(41, 128, 185,1)

.flag-pa
  background-image linear-gradient(
    34deg,
    $vermelho 41%,
    $branco 41%,
    $branco 58%,
    $vermelho 58%
  )

  &:before
    content '\2605'
    color $azul
    font-size 40px
    width 100%
    height 100%
    display: flex
    align-items center
    justify-content center
