/*!  PIAUÍ - PI  */

// Colors
$azul-escuro = rgba(31, 58, 147,1)
$branco = rgba(255,255,255,1)
$amarelo = rgba(254,230,60,1)
$verde = rgba(1,159,111,1)
$width = 90px
$height = 78px

.flag-pi
  background-image repeating-linear-gradient(
    to bottom,
    $verde,
    $verde 16px,
    $amarelo 0,
    $amarelo 31px
  )

  &:before
    width $width
    height $height
    background $azul-escuro

  &:after
    content '\2605'
    color $branco
    font-size 52px
    display: flex
    width: $width
    height: $height
    align-items center
    justify-content center
