/*!  RONDÔNIA - RO  */

// Colors
$azul-escuro = rgba(31, 58, 147,1)
$branco = rgba(255,255,255,1)
$amarelo = rgba(254,230,60,1)
$verde = rgba(1,159,111,1)

.flag-ro
  background-image linear-gradient(
    0deg,
    $amarelo,
    $amarelo 50%,
    $azul-escuro 50%,
    $azul-escuro 100%
  )

  &:before
    border-left 150px solid transparent
    border-right 150px solid transparent
    border-bottom 100px solid $verde
    margin-top 100px
    z-index: 2

  &:after
    content '\2605'
    color $branco
    font-size 70px
    width 100%
    height 100%
    display: flex
    align-items center
    justify-content center
    margin-top: -14px
    z-index: 1
