/* PARÁ - PA */
// Colors
$branco = rgba(255, 255, 255, 1)
$verde = rgba(1,159,111,1)
$vermelho = rgba(231, 76, 60,1)
$azul = rgba(41, 128, 185,1)
$amarelo = rgba(254,230,60,1)

.flag-rr
    padding 40px 0
    margin-bottom 10px

.flag-rr h1
    text-align center

.flag-rr > .flag
    margin 0 auto
    background $azul
    background-image linear-gradient(-35deg, $verde 37%, $branco 37%, $branco 62%, transparent 62%)
    // linear-gradient(to bottom, $vermelho,$vermelho 10%, transparent)

.flag-rr .flag:before
    content '\2605'
    color $amarelo
    font-size 5em
    margin-top -42px
    margin-left 75px

.flag-rr .flag:after
  content ''
  width 300px
  height 10px
  margin-top 156px
  background $vermelho
