/*!
*
*   Flags Brazil
*
*/

.flag
  width 300px
  height 200px
  box-shadow 8px 8px 0 rgba(0,0,0,0.2)
  margin: auto
  font normal normal 16px/1.5 Arial,sans-serif
  position: relative

  &:before,
  &:after
    content ''
    display block
    position absolute

@import 'flags/*'
