*
  box-sizing border-box

html,
body
  margin 0
  padding 0
  background rgba(255,255,255,1)
  font 300 normal 1.5em/1.5 'Open Sans', sans-serif

.header
  color rgba(255,255,255,1)
  display block
  width 100%
  padding 20px 10px
  background linear-gradient(to right, rgba(1, 159, 111,1), rgba(241, 196, 15,1.0))
  text-align center
  margin-bottom: 50px

  & h1
    color #fff
    margin 0
    padding-top 20px
    text-shadow 5px 5px 0 rgba(0,0,0,.2)

  & p
    font-size .6em
    max-width 500px
    text-align center
    margin 12px auto
    text-shadow 2px 2px 0 rgba(0,0,0,.2)

.contribute-btn
  color rgba(255,255,255,1)
  font-size .45em
  border 2px solid rgba(255,255,255,1)
  transition .5s
  padding 10px 20px
  text-decoration none
  text-transform uppercase

  &:hover
    color rgba(255,255,255,0.5)
    border 2px solid rgba(255,255,255,0.5)

.container
  display flex
  flex-flow row wrap
  justify-content space-between
  max-width 1200px
  margin 0 auto
  padding 10px

  > div
    flex 1 1
    margin-bottom 50px

  h2
    color rgba(0,0,0,.6)
    font-size .5em
    text-align: center

.footer
  font-size .5em
  width 100%
  padding 5px 0
  background linear-gradient(to right, rgba(1, 159, 111,1), rgba(241, 196, 15,1.0))
  text-align center

  & .heart
    color rgba(255,255,255,1)
    display inline-block
    width 14px
    height 14px
    margin 0 5px

  & > p,
  & a
    color rgba(255,255,255,1)

  & a
    text-decoration none

